# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 50c609c35b658f1c986af026101b676a8339a1b3a85cdf0eac7abc92a9e714d363ebe299befbc5c405d000bfdd4600c8db961b4c525f00ab71594b622ff61b36
  db_username: 'db-user-name'
  db_password: 'db-user-password'
  encryption_key: '256-bit-encryption-key'

test:
  secret_key_base: 45cd138d197cdc43445474e12cb2701f1fa53173b395e8e4e339c73a5594114d0be76e9d0ecf5dc58559fddacc4d78dbe421e3725581358be9e6545fbb8a9189
  db_username: 'db-user-name'
  db_password: 'db-user-password'
  encryption_key: '256-bit-encryption-key'

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  db_username: <%= ENV["SECRET_KEY_BASE"] %>
  db_password: <%= ENV["SECRET_KEY_BASE"] %>
